
<div class="container">
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, :input_html => {:class => "form-control"}, :label => "Note Title", :label_html => {:class => "color-green"} %>
  </div>
  <div class="form-group">
    <%= f.input :content, :input_html => {:class => "form-control"}, :label => "Note Content", :label_html => {:class => "color-green"} %>
   </div>
   <div class="form-group">
    <%= f.input :location, :input_html => {:class => "form-control"}, :label => "Location", :label_html => {:class => "color-green"} %>
   </div>

   <div class="form-group">
    <%= f.button :submit, :class => "pull-right btn-u btn-u-green" %>
    <%= link_to 'Back', :back, :class => "" %>
  </div>
    
<% end %>
</div>

