<div class="container">
    <% @posts.each do |post| %>



    <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                        <%= image_tag post.attached_document.url(:large) unless post.attached_document.nil? %>
                    </div>    
                    <div class="col-md-7">
                        <h2><%= post.title %></h2>
                        <ul class="list-unstyled list-inline blog-info">
                          <li><i class="fa fa-user"></i><%= post.user.name unless post.user.nil? %></li>
                            <li><i class="fa fa-calendar"></i> May 08, 2014</li>
                            <li><i class="fa fa-tags"></i><%= post.post_category.name unless post.post_category.nil? %></li>
                        </ul>
                        <p><%= post.content %></p>
                    </div>    
                </div>

    <% end %>

</div>