<!--=== Header ===-->    
<div class="header margin-bottom-20">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'LocalBoard', root_path, class: 'navbar-brand' %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">

                   <!-- user login dropdown start-->
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                       <span class="username"><%= current_user.full_name %></span>
                       <i class="fa fa-angle-down"></i>
                   </a>
                   <ul class="dropdown-menu">
                    <%= link_to user_path(current_user), :class => "list-group-item"   do %>
                      <i class="fa fa-user"></i>&nbsp;&nbsp;  Profile
                    <% end %>
                    <%= link_to edit_user_registration_path, :class => "list-group-item"  do %>
                      <i class="fa fa-cogs"></i>&nbsp;&nbsp;  Settings
                    <% end %>
                    <%= link_to logout_path, :class => "list-group-item"  do %>
                      <i class="fa fa-sign-out"></i>&nbsp;&nbsp;  Logout
                    <% end %>
                   </ul>
               </li>
               <!-- user login dropdown end -->

            </ul>
        </div><!-- /navbar-collapse -->


    </div>  
    <div class="header-divider"></div>   
</div>    
</div><!--/header-->

<!--=== End Header ===-->    

